Repository MarcDufresne/opset: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, requirements-txt-updated

flake8:
  name: Lint Python with Flake8
  entry: make lint
  language: system

requirements-txt-updated:
  name: Update requirements.txt if needed
  entry: make requirements.txt
  language: system
  pass_filenames: false

Add support for renaming the event key in JSON logs
  opset/configurator.py
  pyproject.toml
  tests/configurator_test.py
Due: flake8

update readme
  README.md
Due: none

Add support for renaming the event key in JSON logs (#16)
  README.md
  opset/configurator.py
  pyproject.toml
  tests/configurator_test.py
Due: flake8

Allow for combined GCP secrets in a single value
  README.md
  opset/configurator.py
  opset/gcp_secret_handler.py
  opset/utils.py
  pyproject.toml
  tests/configurator_test.py
  tests/gcp_secret_handler_test.py
  tests/utils_test.py
Due: flake8

Add test
  tests/gcp_secret_handler_test.py
Due: flake8

Allow for combined GCP secrets in a single value (#17)
  README.md
  opset/configurator.py
  opset/gcp_secret_handler.py
  opset/utils.py
  pyproject.toml
  tests/configurator_test.py
  tests/gcp_secret_handler_test.py
  tests/utils_test.py
Due: flake8

Switch to Python 3.12 by default, update setup tools, remove black
  .flake8
  .github/workflows/test.yml
  .pre-commit-config.yaml
  Makefile
  opset/gcp_secret_handler.py
  poetry.lock
  pyproject.toml
  tests/configurator_test.py
Due: flake8, requirements-txt-updated

update pre-commit
  .pre-commit-config.yaml
Due: none

Fix mypy maybe
  Makefile
  opset/gcp_secret_handler.py
Due: flake8

Switch to Python 3.12 by default, update setup tools, remove black (#18)
  .flake8
  .github/workflows/test.yml
  .pre-commit-config.yaml
  Makefile
  poetry.lock
  pyproject.toml
  tests/configurator_test.py
Due: flake8, requirements-txt-updated

Add shorthand syntax for GCP secrets
  Makefile
  README.md
  opset/gcp_secret_handler.py
  poetry.lock
  pyproject.toml
  tests/gcp_secret_handler_test.py
  uv.lock
Due: flake8, requirements-txt-updated

Add Python 3.13 builds
  .github/workflows/test.yml
Due: none

Fix CI
  .github/workflows/test.yml
Due: none

Fix docs
  opset/gcp_secret_handler.py
Due: flake8

Add shorthand syntax for GCP secrets (#19)
  .github/workflows/test.yml
  Makefile
  README.md
  opset/gcp_secret_handler.py
  poetry.lock
  pyproject.toml
  tests/gcp_secret_handler_test.py
  uv.lock
Due: flake8, requirements-txt-updated

fix: remove deprecated pkg_resources usage and fix pydantic deprecation warnings
  .gitignore
  opset/configurator.py
  opset/utils.py
  pyproject.toml
  uv.lock
Due: flake8

fix: correct import order in configurator.py (importlib.resources with stdlib imports)
  opset/configurator.py
Due: flake8

bump version
  pyproject.toml
Due: none

refactor: remove dead try/finally block in mock_config_file
  opset/utils.py
  uv.lock
Due: flake8

update docstring
  opset/utils.py
Due: flake8

Setup tools deprecation (#20)
  .gitignore
  opset/configurator.py
  opset/utils.py
  pyproject.toml
  uv.lock
Due: flake8

Path conditions:
  flake8: any of: \.py$
  requirements-txt-updated: any of: poetry.lock
