Repository MarcDufresne/opset: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, requirements-txt-updated

flake8:
  name: Lint Python with Flake8
  entry: make lint
  language: system

requirements-txt-updated:
  name: Update requirements.txt if needed
  entry: make requirements.txt
  language: system
  pass_filenames: false

Fix typehint issue inside gcp_secret_handler.py take 3
  opset/gcp_secret_handler.py
Due: flake8

Fix typehint issue inside gcp_secret_handler.py (#6)
  opset/gcp_secret_handler.py
  pyproject.toml
Due: flake8

Add setuptools to dependencies since we still use pkg_resources
  poetry.lock
  pyproject.toml
Due: requirements-txt-updated

Add setuptools to dependencies since we still use pkg_resources (#7)
  poetry.lock
  pyproject.toml
Due: requirements-txt-updated

Opset V4
  README.md
  opset/__init__.py
  opset/configurator.py
  opset/utils.py
  poetry.lock
  pyproject.toml
  tests/configurator_test.py
  tests/conftest.py
  tests/utils.py
  tests/utils_test.py
Due: flake8, requirements-txt-updated

remove big comment
  tests/utils.py
Due: flake8

Bump version
  pyproject.toml
Due: none

Fix for python 3.10
  opset/configurator.py
Due: flake8

Fix mypy
  opset/configurator.py
Due: flake8

format
  opset/utils.py
  tests/utils_test.py
Due: flake8

Test setup_unit_test
  tests/configurator_test.py
Due: flake8

Add codecov config
  .github/.codecov.yml
Due: none

more fixes and updates
  README.md
  opset/__init__.py
  opset/configurator.py
  poetry.lock
  pyproject.toml
  tests/configurator_test.py
  tests/utils.py
  tests/utils_test.py
Due: flake8, requirements-txt-updated

Fix lint
  opset/configurator.py
Due: flake8

rebump version
  pyproject.toml
Due: none

Fix convert_type type hints
  opset/configurator.py
Due: flake8

Fixes
  README.md
  opset/__init__.py
  opset/configurator.py
Due: flake8

fix critial_settings useless arg and comment
  opset/configurator.py
Due: flake8

Opset v4: Pydantic as the default configuration (#8)
  .github/.codecov.yml
  README.md
  opset/__init__.py
  opset/configurator.py
  opset/utils.py
  poetry.lock
  pyproject.toml
  tests/configurator_test.py
  tests/conftest.py
  tests/utils.py
  tests/utils_test.py
Due: flake8, requirements-txt-updated

Add another flag to skip config validation
  opset/configurator.py
Due: flake8

invert if
  opset/configurator.py
Due: flake8

bump version
  pyproject.toml
Due: none

Add another flag to skip config validation (#9)
  opset/configurator.py
  pyproject.toml
Due: flake8

Fix validation skip to still load local and env variables
  opset/configurator.py
Due: flake8

invert in test check
  opset/configurator.py
Due: flake8

Fix validation skip to still load local and env variables (#10)
  opset/configurator.py
  pyproject.toml
Due: flake8

More fix for skipping validation but still loading data into the config
  opset/configurator.py
Due: flake8

More fix for skipping validation but still loading data into the config (#11)
  opset/configurator.py
  pyproject.toml
Due: flake8

Setup logging properly when skipping validation
  opset/configurator.py
  pyproject.toml
Due: flake8

Setup logging properly when skipping validation (#12)
  opset/configurator.py
  pyproject.toml
Due: flake8

empty dict is fine
  opset/configurator.py
Due: flake8

ignore coverage for skip validation
  opset/configurator.py
Due: flake8

delcared_config can be an empty dict, check explcitely for None (#13)
  opset/configurator.py
Due: flake8

bump to 4.0.5
  pyproject.toml
Due: none

bump to 4.0.5 (#14)
  pyproject.toml
Due: none

Update opset_config logic to use the config path to retrieve the .opset.yml file.
  opset/configurator.py
  pyproject.toml
  tests/configurator_test.py
Due: flake8

Remove unused code.
  opset/configurator.py
Due: flake8

Update opset_config logic to use the config path to retrieve the .opset.yml (#15)
  opset/configurator.py
  pyproject.toml
  tests/configurator_test.py
Due: flake8

Path conditions:
  flake8: any of: \.py$
  requirements-txt-updated: any of: poetry.lock
