Repository MarcDufresne/opset: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, requirements-txt-updated

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: Lint Python with Flake8
        entry: make lint
        language: system
        types: [python]

        # required to allow github to find security vulnerabilities
      - id: requirements-txt-updated
        name: Update requirements.txt if needed
        entry: make requirements.txt
        language: system
        files: 'poetry.lock'
        pass_filenames: false

PIE-4596 add sonarqube (#17)
  .circleci/config.yml
  Makefile
  makefiles/Makefile.security
  poetry.lock
  pyproject.toml
Due: requirements-txt-updated

Rework (#2)
  Makefile
  README.md
  opset/configurator.py
  opset/utils.py
  pyproject.toml
  tests/configurator_test.py
  tests/utils.py
Due: flake8

PIE-0 2.0.0 release
  opset/configurator.py
  poetry.lock
  pyproject.toml
  requirements.txt
Due: flake8, requirements-txt-updated

PIE-4766 json_format support
  README.md
  opset/configurator.py
  tests/configurator_test.py
Due: flake8

PIE-0 bump version to 2.1.0
  pyproject.toml
Due: none

fixup! PIE-4766 json_format support
  opset/configurator.py
Due: flake8

PIE-4813 complete override on empty dict
  opset/configurator.py
  tests/configurator_test.py
Due: flake8

PIE-4813 bump to v2.1.1
  pyproject.toml
Due: none

Opset v3
  .circleci/config.yml
  .isort.cfg
  .pre-commit-config.yaml
  Makefile
  makefiles/Makefile.security
  mypy.ini
  opset/configurator.py
  opset/utils.py
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/configurator_test.py
  tests/utils_test.py
Due: flake8, requirements-txt-updated

Opset v3 (#1)
  .circleci/config.yml
  .isort.cfg
  .pre-commit-config.yaml
  Makefile
  makefiles/Makefile.security
  mypy.ini
  opset/configurator.py
  opset/utils.py
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/configurator_test.py
  tests/utils_test.py
Due: flake8, requirements-txt-updated

Add Google cloud secrets manager support.
  opset/configurator.py
  opset/gcp_secret_handler.py
  poetry.lock
  pyproject.toml
  tests/configurator_test.py
  tests/gcp_secret_handler_test.py
  tests/utils.py
Due: flake8, requirements-txt-updated

Lint and format.
  opset/configurator.py
  opset/gcp_secret_handler.py
  tests/configurator_test.py
  tests/gcp_secret_handler_test.py
  tests/utils.py
Due: flake8

Add opset config concept. Rework some implementations.
  opset/configurator.py
  opset/gcp_secret_handler.py
  tests/configurator_test.py
  tests/gcp_secret_handler_test.py
Due: flake8

Update README.md
  README.md
  tests/gcp_secret_handler_test.py
Due: flake8

Update README.md
  README.md
Due: none

Fix value parsing.
  opset/configurator.py
  opset/gcp_secret_handler.py
  tests/configurator_test.py
  tests/gcp_secret_handler_test.py
Due: flake8

Improve error handling.
  opset/gcp_secret_handler.py
  tests/gcp_secret_handler_test.py
Due: flake8

Bump version
  pyproject.toml
Due: none

Fix extra logic.
  poetry.lock
  pyproject.toml
Due: requirements-txt-updated

Apply code review suggestions.
  opset/configurator.py
  opset/gcp_secret_handler.py
  tests/configurator_test.py
  tests/gcp_secret_handler_test.py
Due: flake8

Add gcp extra to make install command
  Makefile
Due: none

Add github action workflow.
  .github/pull_request_template.md
  .github/workflows/test.yml
Due: none

Fix workflow.
  .github/workflows/test.yml
Due: none

Fix workflow again
  .github/workflows/test.yml
Due: none

Fix workflow again again
  .github/workflows/test.yml
Due: none

Fix lint error.
  opset/configurator.py
  tests/gcp_secret_handler_test.py
Due: flake8

Fix typehints.
  opset/gcp_secret_handler.py
Due: flake8

Fix format
  opset/gcp_secret_handler.py
Due: flake8

Add coverage report
  .github/workflows/test.yml
  Makefile
Due: none

Improve coverage
  .github/workflows/test.yml
  Makefile
Due: none

Add verbose to codecov.
  .github/workflows/test.yml
Due: none

Remove verbose to codecov.
  .github/workflows/test.yml
Due: none

Prevent multiple instantiation of the secret manager client.
  opset/__init__.py
  opset/gcp_secret_handler.py
  pyproject.toml
  tests/gcp_secret_handler_test.py
Due: flake8

Fix lint
  opset/gcp_secret_handler.py
Due: flake8

Add new test.
  tests/gcp_secret_handler_test.py
Due: flake8

Prevent multiple instantiation of the secret manager client. (#5)
  opset/__init__.py
  opset/gcp_secret_handler.py
  pyproject.toml
  tests/gcp_secret_handler_test.py
Due: flake8

Fix typehint issue inside gcp_secret_handler.py
  opset/gcp_secret_handler.py
  pyproject.toml
Due: flake8

Fix typehint issue inside gcp_secret_handler.py take 2
  opset/gcp_secret_handler.py
Due: flake8
